<main>
    <h1>Recuperar contraseña</h1>
    <form action="/api/sessions/recoverPasswordByEmail" method="POST" class="form-group w-50">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <button class="btn btn-outline-dark w-100 mt-3"> Enviar mail de recuperación </button>
    </form>
</main>