<main>
    <h1>Restablecer contraseña</h1>
    <form action="http://localhost:8080/api/sessions/recoverPassword" method="post" class="form-group w-50" id="recoverPasswordForm">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="token" value="{{token}}">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Nueva contraseña</label>
        <input type="password" name="newPassword" class="form-control">
        <button type="submit" class="btn btn-outline-dark w-100 mt-3">Cambiar contraseña</button>
    </form>
</main>

<script src="/js/passReset.js"></script>